*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nama{
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

body .hidden{
    display: none;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 209, 209);
}

.main{
    position: relative;
    width: 100%;
    max-width: 410px;
    background-color: aliceblue;
    border-radius: 7px ;
    padding: 15px 25px;
    overflow: hidden;
    box-shadow: 0 0 10px #fff;
    min-height: 90vh;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

nav button{
    width: calc(100% /2 - 5px);
    font-size: 1.2rem;
    text-align: center;
    height: 45px;
    letter-spacing: 2px;
    border-bottom:  2px solid #ccc;
}

nav button.active{
    border-bottom: 2px solid rgb(31, 31, 202);
    font-weight: 700;
    color: #0283d8;
}

::-webkit-scrollbar{
    display: none;
}

.add{
    font-size: 1.1rem;
    position:absolute;
    bottom: 20px;
    right: auto;
    left: 50%;
    margin-left: -90px;
    background-color: rgb(234, 234, 241);
    width: 10rem;
    height: 30px;
    border-radius: 10px;
    border: #1f2224 solid 1px;
    box-shadow: 3px 3px 0 0 gray;
}

.formBG{
    background-color:  rgba(172, 171, 171, 0.815);
    position: fixed;
    height:100%;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formbox{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10%;
}

.btn{
    display: flex;
    gap: 20px;
}

.formBG input{
    width: 80%;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

table, th, td{
    border:black solid 1px ;
    text-align: center;
}

table{
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    border-collapse: collapse;
}

#perintah{
    text-align: center;
}

.daftar{
    border-bottom:solid green 2px ;
    margin-bottom: 10px;
    width: 90%;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px ;
}

tr:nth-child(even){
    background-color: rgb(218, 205, 205);
}